@import url('https://fonts.googleapis.com/css2?family=Krona+One&&family=Ramabhadra&family=Rubik+Mono+One&display=swap');

html {
padding: 0;
margin: 0;
height: 100%;
width: 100%;
}
 
body {
     background: #FFC300;
      color: #333333;
      font-family: 'Rubik Mono One', sans-serif;
      font-size: 1rem;
  }

.container {
  text-align: center;
}

#iss-television {
  background: url('imgs/tv-set.png') no-repeat top ;
  background-size: contain;
  height: auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  text-align: center;

}

.bordered-box {
  border: 60px solid pink;
  height: 40vh;
  border-image: url("imgs/tv-set.png") 50;
}


#iss-television video {
  border-image: url("imgs/tv-set.png") 50;
  text-align: center;
  width: auto;
  height: 100%;
  top: 20%;
  left: 10%;
}

.responsive-iframe {
    width: 75%;
    max-height:100%;
    height: auto;
    display: block;      
    margin: auto;
  }

  /* Place the navbar at the bottom of the page, and make it stick */
.nav-bar {
  text-align: center;
  overflow: hidden;
  margin-top: 1.2rem;
  bottom: 0;
  width: 100%;
}

/* .nav-bar a {
height: 50px;
width: 50px;
background-color: #000000;
border: 2px solid;
border-color: #000000;
border-radius: 50%;
color: white;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 12px;
margin: 4px 2px;
padding-top: 15px;
} */

.btn {
  height: 50px;
  width: 50px;
  background-color: #000000;
  border: 2px solid;
  border-color: #000000;
  border-radius: 50%;
  color: white;
  }

.fa fa-play{
  background: url("imgs/archive.png");
}